.outer {
    padding-top: 60px;
    width: 50%;
    min-width: 400px;
}

.canvas {
    max-width: 400px;
    max-height: 400px;
}

.color-choose {
    max-width: 400px;
    left: 0px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.brushes {
    position: relative;
    width: 0px;
    justify-self: left;
}
